<div class="container text-center">
  <div class="col-lg-12">
    <h1 style="margin: 60px auto 10px; font-weight: bold;">概要</h1>
  </div>

  <div class="col-lg-12 text-center">
    <h1>Yu-Giron:サイト説明</h1>
    <p>
      ようこそYu-Giron(遊議論）へ
      ここは、自分の遊んだゲームのレビューができるレビューサイトです。<br>
      各々好きなゲームをレビューし投稿することができます。<br>
      また、気に入ったレビューをお気に入りに入れたり<br>
      気に入ったレビュワーをフォローしたりできます。（ログインが必要です）<br>
      ぜひ、活発にレビューをして自分の好きなゲームをみんなに広めてください。<br>
    </p>
</div>
