<div class="container">
  <div class="row">
    <div class="sidebar border border-dark">
      <div class="col">
        <h1>test</h1>
      </div>
    </div>
    <div class="main">
      <div class="col border boorder-dark">
        <h1>今日のTOP3</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col border boorder-dark">
      <h1>歴代TOP3レビュワー</h1>
    </div>
  </div>
</div>