<div class="container">
  <div class="row">
    <div class="sidebar border border-dark">
      <div class="col">
        <h1>ジャンル検索</h1>

      </div>
    </div>
    <div class="main">
      <div class="col border boorder-dark">
        <h1>今日のTOP3</h1>
        <% @review_ranks.each do |review| %>
        <%= review.tittle %>
        <% end %>
        <p>すべてのレビューを見る</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col border boorder-dark">
      <h1>歴代TOP3レビュワー</h1>
    </div>
  </div>
</div>